
* {
	margin: 0;
  padding: 0;
  border: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit; 
}

@font-face {
	font-weight: normal;
  font-family: 'Neucha';
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
	font-weight: normal;
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

:root {
  --white: #fff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --trdark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100%;
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: 'Neucha', sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  line-height: 1.2em;
}

h3 {
	color: var(--main);
  font-size: 34px;
  line-height: 1.2em;
}

h4 {
	color: var(--white);
  font-size: 14px;
  line-height: 16.8px;
}

.container {
  position: relative;
  z-index: 2;

  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section {
  position: relative;

  overflow: hidden;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 950px;

  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: ' ';
}

.backround-light {
  background: var(--light);
}

.backround-brown {
  background: var(--brown);
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 100;

  height: 525px;
}

span {
  color: var(--main);
}

.header-title {
  position: relative;
  z-index: 200;

  display: block;
}

.header-row {
  display: flex;

  margin-top: 200px;	
}

.header-text {
  width: 540px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-75 {
  margin-right: 75px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ta-center {
  text-align: center;
}

.header-button {
  display: inline-block;
  width: 148px;
  height: 49px;
  margin-top: 40px;

  background: var(--main);
}

.header-button a {
  display: inline-block;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

.header-button:hover {
  background: #ea7600;
}

.video {
  display: block;
  width: 919px;
  height: 569px;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: -100px;
}

.navigation {
  margin-top: -100px;

  background-color: var(--maindark);
}

.navigation-row {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-text {
  width: 350px;
  height: 323px;
  margin-right: 30px;
}

.navigation-link {
  width: 302px;
  padding: 24px 24px 0 24px;
}

.about {
  font-size: 52px;
  font-family: 'Neucha', sans-serif;
  line-height: 62.4px;
}

.fs-64 {
  padding-bottom: 40px;

  font-size: 64px;
  color: var(--maindark);
  font-family: 'Neucha', sans-serif;
  line-height: 70.5px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.bg-color {
  background-color: var(--light);
}

.pr-75 {
  padding-right: 75px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.display {
  display: block;
}

.td {
  text-decoration: none;
}

.tc {
  color: var(--dark);
}

.animation:hover {
  color: var(--white);

  background-color: var(--main);
}

.animation:hover p {
  color: var(--white);

  background-color: var(--main);
}

.animation:hover h3 {
  color: var(--white);

  background-color: var(--main);
}

.ikea-row {
  display: flex;
}

.ff-24 {
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 28.8px;
}

.fc {
  color: var(--trdark);
}

.fc-dark {
  color: var(--dark);
}

.ikea-image {
  vertical-align: middle;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.mt-30 {
  margin-bottom: 30px;
}

.backround-dark {
  width: 1110px;
  height: 26px;

  background-color: var(--brown);
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-10 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.fc-white50 {
  color: var(--white50);
}

.fc-white {
  color: var(--white);
}

.optimization-row {
  display: flex;
}

.image-optimization {
  vertical-align: middle;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.backround-white {
  background-color: var(--white);
}

.fc-brown {
  color: var(--brown);
}

.flex-b50 {
  flex-basis: 50%;
}

.novelty-row {
  display: flex;
}

.image-novelty {
  vertical-align: middle;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.hyperbolic-row {
  display: flex;
}

.image-hyperbolic {
  vertical-align: middle;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.errors-row {
  display: flex;
}

.image-errors {
  vertical-align: middle;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.footer-row {
  display: flex;
  height: 190px;

  background-color: var(--maindark);
}

.pl-55 {
  padding-left: 55px;
}

.center {
  align-self: center;
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.form-email {
  width: 420px;
  height: 50px;
}

button {
  position: relative;
  top: -4px;
  right: 5px;

  width: 70px;
  height: 50px;

  background: var(--main);
}

button::before {
  position: absolute;
  top: 16px;
  left: 17px;

  width: 25px;
  height: 25px;

  background: url(../img/send.svg);

  content: "";
}

button:hover {
  background: #ea7600;
}

.mb-8 {
  margin-bottom: 8px;
}

.footer-text {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}
