/** CSS STYLE **/

@font-face {
	font-family: 'Neucha';
	src: url("../fonts/Neucha-Regular.ttf");
	font-weight: normal;
	
}
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: normal;
	
}

:root {
	--white: #fff;
	--trwhite: #d7ccc0 ;
	--light: #f5f4f0 ;
	--main: #fe8a02;
 	--main dark: #42413c;
	--dark: #2a2626;
	--trdark: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;
}

body { 
font-family: 'Open Sans';
font-size: 16px;
line-height: 1.6em;
color: #2A2626;
width: 1110px;
text-align: center;
margin: 100px 0px;
}

h1,
h2,
h3 {
	font-family: 'Neucha';
}

h1{
	line-height: 1.2em;
	font-size: 72px;
}
h2{
	line-height: 1.2em;
	font-size: 60px;
}
h3{
	line-height: 1.2em;
	font-size: 34px;
}

