


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/** CSS STYLE **/

@font-face {
	font-family: 'Neucha';
	src: url("../fonts/Neucha-Regular.ttf");
	font-weight: normal;
	
}
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: normal;
	
}

:root {
	--white: #fff;
	--trwhite: #d7ccc0 ;
	--light: #f5f4f0 ;
	--main: #fe8a02;
 	--maindark: #42413c;
	--dark: #2a2626;
	--trdark: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;
}

body { 
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1.6em;
color: var(--dark);
margin: 0px;


}

	header,
	main,
	footer {
		 
	}


h1,
h2,
h3 {
	font-family: 'Neucha', sans-serif;
}

h1{
	line-height: 1.2em;
	font-size: 72px;
}
h2{
	line-height: 1.2em;
	font-size: 60px;
}
h3{
	line-height: 1.2em;
	font-size: 34px;
	color:var(--main) ;
}


.container {
  
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  margin: auto;
  z-index: 2; 
}


.section:before {
   content: ' ';
   background: var(--light);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
   width: 100%;
   height: 950px;
    z-index: 1;
    opacity: 10%;
   background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

}



.header-image{
position: absolute;
top: 55px;
right: -270px;

}
span{
	color:  var(--main);
}
.header-row{
	display: flex;
	margin-top: 150px;
	
}
.header-text{
	width: 540px;
	
}
.mr-30{
	margin-right:  30px;
}
.mb-30{
	margin-bottom: 30px;
}
.ta-center{
	text-align: center;
}
.header-button {
	display: inline-block;
	width: 148px;
	height: 49px;
	background: var(--main);
	margin-top: 40px;
}
.header-button a{
	display: inline-block;
	color: var(--white);
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
}
.header-button: hover{
	background: #EA7600;
}

.video{
width: 919px;
height: 569px;
display: block;
margin: 0px auto;
filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mt-100{
	margin-top: 100px;
}
.block{
	width: 100%;
	height: 100px;
	background-color:var(--maindark) ;
	position: relative;
	left: 0px;
	bottom: 84px;
	z-index: -1;
	
}
.navigation{
	background-color: var(--maindark);
	margin-top: -100px;

}

.navigation-row{
  display: flex;
 flex-wrap: wrap;

}
.navigation-text{
	flex: 1 1 25%;
}
.about{
	font-size: 52px;
	font-family: 'Neucha', sans-serif;
	line-height: 62px;
}
.fs-64{
	font-size: 64px;
	font-family: 'Neucha', sans-serif;
	line-height: 1px;
	padding-bottom: 40px;
	color: var(--maindark);
}
.bg-color{
	background-color: var(--light) ;
}

.mt-20{
	margin-top: 20px;
}
.p-24{
	padding: 24px;
	
}
.mt-10{
	margin-top: 10px;
}
.display{
	display: block;
}
.td{
	text-decoration: none;
}
.tc{
	color: var(--dark);
}
.animation:hover {
	background-color: var(--main);
	color: var(--white);
	}
	
	.animation:hover p  {
	background-color: var(--main);
	color: var(--white);
	}
	.animation:hover h3  {
	background-color: var(--main);
	color: var(--white);
	}
	
